<main class="main js-main">
  <div class="main__form-container">
    <h2 class="main__form-container__title-finder">Cocktail finder</h2>
    <form class="main__form-container__form" action="">
      <input
        class="main__form-container__title-finder__search js-input"
        type="text"
        placeholder="insert cocktail"
      />
      <input
        class="main__form-container__title-finder__btn js-btn-search"
        type="button"
        value="buscar"
      />
      <input
        class="main__form-container__title-finder__btn js-btn-reset"
        type="button"
        value="reset"
      />
    </form>
    <p class="main__form-container__alert js-message"></p>
  </div>
  <div class="list-container">
    <ul class="js-fav-list"></ul>
    <ul class="js-list"></ul>
  </div>
</main>
