.main {
    background-color: $clear-grey;
    &__form-container{
        background-image: url(../images/bar.jpg);
        background-size: cover;
        border-bottom: solid 1px #CBB55B;
        // background-color: rgba($beige, 0.2);
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__form{
        display: flex;
        flex-direction: column;
        align-items: center;

        }
        
        &__title-finder{
            font-weight: lighter;
            border-radius: 15px;
            border: 3px solid $black;
            padding: 10px;
            margin-bottom: 20px;
            background-color: $beige;
            color: $black;
            &__search{
                width: 200px;
                height: 30px;
                border: none;
                border-radius: 10px;
                padding-left: 10px;
                font-size: 16px;
            }
            &__btn{
                height: 40px;
                padding: 5px 10px;
                border-radius: 10px;
        
                margin: 10px;
                font-family: $font;
                color: $black;
                font-size: 16px;
                &:hover{
                    background-color: $beige;
                
                }
            }
        }
        &__alert{
            background-color: #BE4D34;
            
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 20px;
            color: beige;
            border-radius: 15px;
            font-size: 15px;
            
        }
    }
    &__list-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    &__list{
        list-style: none;
        &__item-title{
            text-align: center;
            width: 200px;
            margin-top: 30px;
            margin-bottom: 10px;
            color: $brown;
            &__drinks-photo{
                width: 200px;
                border-radius: 15px;
            }
        }
    }
    }
    &__container-title-list{
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        padding: 30px 160px;
        &__results{
            border: 1px solid $black;
            border-radius: 15px;
            padding: 5px;
        }
        

        

    }
    
}
.title-drink {
    width: 200px;
    .main__list-container__list__item-title {
        background-color: $brown;
        color: white;
        border-radius: 10px;
    }
}
.fa-bookmark{
    color: goldenrod;
    padding-left: 5px;
    &:hover{
    color: gold;
    }
}


//responsive tablet
@media all and (min-width: 600px) {
    .main{
        &__form-container{
            &__form  {
                flex-direction: row;
            }
            &__title-finder{
                font-size: 35px;
                &__search{
                    font-size: 15px;
                    height: 40px;
                    font-size: 18px;
                }
                &__btn{
                    font-size: 18px;
                }
            }
            &__alert{
                font-size: 18px;
            }
        }
    }
}
